body {
    margin: 0;
    padding: 0;
    background-color: hsl(200, 30%, 95%);
}

/*opening*/
#opener {
    height: 100%;
    width: 100%;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    display: none;
}

#start {
    position: relative;
    justify-content: center;
    text-align: center;
}

.ready {
    font-size: 1em;
    width: 60%;
    height: 5%;
    background-color: lightblue;
}

/*animations*/
#figure {
    position: relative;
    /*border: 3px solid white;*/
    width: 100%;
    height: 60%;
    max-height: 650px;
    background: linear-gradient(
    hsl(200, 50%, 80%) 0%,
    hsl(200, 30%, 95%) 75%);
    overflow: hidden;
}
#airplane{
    position: absolute;
    display: inline-block;
    margin-top: 3%;
    z-index: 100;
}
#banner {
    position: absolute;
    top: 30px;
    left: 159px;
}
#cityscape {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

/*Guesses*/
#word {
    position: relative;
    /*border: 2px solid yellow;*/
    height: 50px;
    width: 100%;
    font-size: 2em;
    color: brown;
    text-align: center;
    letter-spacing: 1em;
    text-transform: capitalize;
}
#word li {
    list-style: none;
    display: inline-block;
    margin-bottom: 0;
}

#input{
    width: 100%;
    height: 35%;
    position: relative;
    bottom: 0;
    z-index: 1;
}

.text {
    position: relative;
    text-align: center;
    padding: 1%;
    padding-bottom: 0;
    margin-top: 1%;
    color: green;
    height: auto;
}

/*Word Guesses*/
#userInput {
    height: 25%;
    width: 100%;
    position: relative;
    display: none;
    /*border: 2px solid yellow;*/
}
#buttons {
    position: relative;
    width: 43%;
    height: 100%;
    float: left;
    margin: 1.2%;
}
#textarea {
    margin-left: 1%;
    position: relative;
    height: 3em;
    background-color: white;
}
#buttonToGuess {
    position: relative;
    float: right;
    width: 25%;
    height: 3em;
    background-color: silver;
    /*border-radius: 5px;*/
}
#guessedWords {
    position: relative;
    float: right;
    /*border: 2px solid blue;*/
    width: 50%;
    height: 90%;
    margin: 1.2%;
}
table {
    position: relative;
    height: 100%;
}
td:first-child{
    color: green;
}
td {
    margin-left: 3%;
    text-align: left;
    vertical-align: center;
    padding: 5px;
}

/*keyboard display none*/
#alphabetContainer {
    margin-top: 2%;
    position: relative;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 100%;
    bottom: 0;
    max-width: 850px;
}
#alphabetList {
    margin-top: 5px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#wrong {
    background-color: darkred;
    color: white;
}
#right {
    background-color: black;
    color: white;
}
.letters {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2.2em;
    width: 2.4em;
    margin: 0.4em;
    background-color: silver;
    /*border: solid 1px blue;*/
    border-radius: 3px;
}
.letters:hover {
    /*border: solid 1px blue;*/
    background-color: silver;
  }

/*ending*/
#ending {
    height: 25%;
    width: 100%;
    z-index: 10;
    position: absolute;
    bottom: 0;
    display: none;
}
#answers {
    width: 30%;
    position: relative;
    display: block;
    padding-top: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#answers button{
    margin-bottom: 40px;
    width: 6em;
    height: 6em;
    border-radius: 40%;
}
#yes {
    float: left;
}
#no {
    float: right;
}
#goAgain {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
    height: auto;
    padding: 1em;
    border-radius: 5em;
    font-size: 1em;
    background-color: lightgrey;
    margin-bottom: 40px;
    display: none;

}
