body {
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: black;
}

#opener {
    height: 100%;
    width: 100%;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    display: none;
}

#start {
    position: relative;
    justify-content: center;
    text-align: center;
}

#ready {
    font-size: 1em;
    width: 60%;
    height: 5%;
    border-radius: 10px;
    background-color: lightblue;
}

#figure {
    float: left;
    border: 3px solid white;
    width: 60%;
    height: 100%;
}

#input{
    float: right;
    border: 3px solid red;
    width: 35%;
    height: 100%;
    overflow: hidden;
}

#input h2{
    text-align: center;
    margin: 0;
    padding: 1%;
    color: white;
}

#letterBox{
    position: relative;
    height: 55%;
    display: block;
    overflow: hidden;

}

.userInput {
    position: relative;
    height: 2em;
    width: 100%;
    border: 2px solid yellow;
}

textarea {
    position: relative;
    height: 100%;
    width: 70%;
    background-color: #8FBC8F;
}

::-webkit-input-placeholder {
   color: black;
}

.userInput button {
    width: 20%;
    height: 100%;
    position: absolute;
    margin-left: 5%;

}

#alphabetContainer {
    position: absolute;
    height: auto;
    border: 2px solid green;
}

#alphabetList {
    margin-top: 5px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.letters {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2.2em;
    width: 2.4em;
    margin: 0.4em;
    background-color: #00FF7F;
    border: solid 1px blue;
    border-radius: 3px;
}

.letters:hover {
    border: solid 1px blue;
    background-color: yellow;
  }


#wordBox {
    clear: both;
    border: 2px solid blue;
    height: 40%;
    position: relative;
    display: block;
    margin: 0;
}

@media (max-width: 950px){
    .letters {
        height: 2em;
        width: 2em;
    }
}
